/*1 - Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda.
2 - Faça cada div ter uma cor própria.
3 - Estilize cada uma das tags h3 .
4 - Faça a terceira div ser maior que as demais.
5 - Deixe as tags ímpares h3 com o texto em itálico.
*/




div:hover{
    border: 6px solid black;
    
}
#primeira{
    background-color: blanchedalmond;
    font-style: italic;
}
#segunda{
    background-color: blue;
}
#complementar{
    background-color: cadetblue;
    height: 60px;
    font-style: italic;
}
#escura{
    background-color: darkblue;
}
#clara{
    background-color: cyan;
    font-style: italic;
}