
div:hover{
    border: 6px solid black;
    
}
div:active{
    color: yellow;
}
#primeira{
    background-color: blanchedalmond;
    font-style: italic;
  }
#segunda{
    background-color: blue;
}
#complementar{
    background-color: cadetblue;
    height: 60px;
    font-style: italic;
  
}
#escura{
    background-color: darkblue;
}
#clara{
    background-color: cyan;
    font-style: italic;
   
}